<%= render 'layouts/navbar01' %>
<div class="jumbotron">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
</div>

<div class="row">
  <div class="col-md-5">
    <h1>Col-md-5</h1>
  </div>

  <div class="col-md-5">
    <h1>Col-md-5</h1>
  </div>
</div>
