// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$color-01: rgba(98, 215, 100, 0.6);
$color-02: rgba(27, 304, 227, 0.6);
.home {
    background-color: $color-01;
}

.about {
    background-color: $color-02;
  }
