<!DOCTYPE html>
<html>
  <head>
    <title>Desafio24</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= params[:action] %>">
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
